* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}   
.container {
    display:flex;
    width: 100vw;
    flex-direction: row-reverse;
}
nav {
    background-color: yellowgreen;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 100vw;
    
}
.user {
    background-color: grey;
    width: 50px;
    height:50px;
    border-radius: 5%;
    color: white;
    text-align: center;
    padding: 15px 8px;
}
aside {
    background-color: wheat;
    width: 150px;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top:20px;
}
.logo {
    width: 80px;
    height: 80px;
    border-right: 50%;
}
.fixed {
    background-color: black;
    width: 50px;
    height:50px;
    border-radius: 50%;
    position: fixed;
    bottom:20px;
    right:20px;
}
@media screen and (max-width: 570px) {
    nav {
        width:100vw;
    }
}
    
